@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi sitio web</h1>
    <p>Mira mi perfil <a href="https://platzi.com/p/cgomezsarm/">en platzi</a>.</p>
</div>
